PG_USER=""
PG_PASSWORD=""
PG_DATABASE=""

JWT_SECRET=""
JWT_SECRET_REFRESH=""
JWT_TOKEN_EXPIRES_IN=""
JWT_REFRESH_TOKEN_EXPIRES_IN=""

MAIL_HOST=""
MAIL_PORT=
MAIL_SECURE=
MAIL_DEFAULT_SENDER=""
MAIL_PASS=""
MAIL_APP_NAME=""
MAIL_REDIRECT=""

DATABASE_URL="postgresql://${PG_USER}:${PG_PASSWORD}@localhost:5432/${PG_DATABASE}?schema=public"
