PG_USER=""
PG_PASSWORD=""
PG_DATABASE=""
PG_HOST=""
PG_PORT=

APP_PORT=3000

JWT_SECRET=""
JWT_SECRET_REFRESH=""
JWT_TOKEN_EXPIRES_IN=""
JWT_REFRESH_TOKEN_EXPIRES_IN=""

USER_EXPIRES_PROVISIONAL_PASSWORD_IN_MINUTES=

MAIL_HOST="smtp.zoho.com"
MAIL_PORT=465
MAIL_SECURE=true
MAIL_DEFAULT_SENDER=""
MAIL_PASS=""
MAIL_APP_NAME=""
MAIL_REDIRECT=""
MAIL_HEADER_IMAGE=""

DATABASE_URL="postgresql://${PG_USER}:${PG_PASSWORD}@${PG_HOST}:${PG_PORT}/${PG_DATABASE}?schema=public"
