PG_USER=""
PG_PASSWORD=""
PG_DATABASE=""

JWT_SECRET=""
JWT_SECRET_REFRESH=""
JWT_TOKEN_EXPIRES_IN=""
JWT_REFRESH_TOKEN_EXPIRES_IN=""

AWS_S3_REGION=""
AWS_S3_BUCKET_NAME=""
AWS_PUBLIC_KEY=""
AWS_SECRET_KEY=""
AWS_S3_FILE_PARTIAL_URL="https://${AWS_S3_BUCKET_NAME}.s3.${AWS_S3_REGION}.amazonaws.com"

THROTTLER_TTL=60000
THROTTLER_LIMIT=3

DATABASE_URL="postgresql://${PG_USER}:${PG_PASSWORD}@localhost:5432/${PG_DATABASE}?schema=public"
